<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trakneo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-white">
        <a class="navbar-brand" href="../views/nav.hbs">Trakneo LLP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="../views/nav.hbs">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-dark" href="../views/home.hbs">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="../views/nav.hbs">Log Out</a>
            </li>
        </ul>
    </nav>

    <a href="../views/dash.hbs"><button type="button" class="m-2 btn bg-dark text-white">Dashboard</button></a>
    <a href="../views/campaign.hbs"><button type="button" class="m-2 btn bg-dark text-white">Campaign</button></a>
    <button type="button" class="m-2 btn bg-dark text-white">Publisher</button>
    <button type="button" class="m-2 btn bg-dark text-white">Links Clicked</button><br><br><br><br><br>
    <h1 style="text-align: center" class="companyname">Trakneo Technologies LLP</h1>
</body>

</html>